/**

body {
  position: relative;
  margin: 0;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../images/background-3.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-blend-mode:color ;
}

**/


body {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

/** ACCORDION MENU**/
.accordion-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 240px;
}


.accordion-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}

.accordion-menu-header {
  font-size: 26px;
  color: rgb(20, 1, 1);
  text-shadow: 0 0 2px rgba(232, 12, 12, 0.4);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
}


.accordion-menu-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding-top: 10px;
  padding-bottom: 0x;
  padding-left: 18px;
  padding-right: 18px;
}

.accordion-menu-content p {
  margin: 0;
  font-size: 18px;
  
}

.accordion-menu-item.active .accordion-menu-content {
  max-height: 1000px;
  transition: 2s;
}




  
